Repository vieirafrancisco/pong, pull requests merged in 2020-11, with the labels that each got.

#9 Doc
  Makefile
  README.md
Labels: documentation

#10 Game client
  pong/client/pong_client.py
  pong/game/ball.py
  pong/game/game.py
  pong/game/player.py
  pong/settings.py
Labels: client, done, enhancement

#13 Client server refactor
  pong/client/pong_client.py
  pong/server/match.py
  pong/server/pong_server.py
  pong/server/request_handler.py
  pong/socket_utils.py
Labels: client, enhancement, server

#12 Menu screen
  pong/game/game.py
  pong/game/menu.py
  run-game.py
Labels: render-jogo, wip
